<!DOCTYPE html>
<html>
<head>    
    <title>Test node mongodb</title>
    
</head>
<body>

    <form action="/node-mongodb-user" method="post" class="formulario">
        <input type="text" name="emailBody" placeholder="seunome@email.com">
        <button type="submit">Enviar</button>
    </form>

    {{firstNameV}} <br>
    {{lastNameV}} <br>
    {{emailV}} <br>
    {{passwordV}} <br>
    {{messagesV}} <br>
    
</body>
</html>

